<%- include("partials/header") %>
<div class="container demo">
   <div class="content">
      <div id="large-header" class="large-header">
         <canvas id="demo-canvas" ></canvas>
         <h1 class="main-title"><span class="thin">Covid 19</span> India</h1>
      </div>
   </div>
</div>

 <div class="container">		
	<!-- <div class="animate three">
		<span>C</span><span>O</span><span>V</span><span>I</span><span>D</span> &nbsp;
		<span>1</span><span>9</span> &nbsp;
	</div> -->
	 <div class="area" >
		 	<img src="/images/corona.jpg" alt="corona">
	<div class="Iam">

	<p>PLEASE </p>
	<b>
	  <div class="innerIam">
		Wear a face cover<br /> 
		Wash your hands <br />
		Keep a safe distance<br />
		Stay home if you feel unwell<br />
		Don’t touch your eyes, nose or mouth
		</div>
	</b>
	</div>
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

</div> 

<%- include("partials/footer") %>